*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
.vscode/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
**/*google-services*.json
**/*.key
**/*.pem
**/*.cer
**/*.crt
**/*.pub
**/*.priv
**/*_rsa
**/*_dsa
**/*.keystore
**/*.jks
**/*.pfx
**/*.p12
**/key.properties
.packages
.flutter-versions
.metadata
**/.flutter-tool
**/local.properties
firebase_options.dart
**/firebase_options.dart